<a href="https://colab.research.google.com/github/sgtlee99/PythonTEST/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_4%EC%9D%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#리스트 생성
#빈 리스트 생성
lst = []
#항목추가 -> append
lst.append(1)
print(lst)

#초기값을 가지는 리스트 생성
lst1 = [1,2,3,4,5]
print(lst1)
fruits = ["apple", "banana", "orange", "abocado"]
print(fruits)

#list() 함수와 range() 함수를 이용해 생성
lst2 = list(range(5))
print(lst2)
lst3 = list(range(5,10))
print(lst3)

[1]
[1, 2, 3, 4, 5]
['apple', 'banana', 'orange', 'abocado']
[0, 1, 2, 3, 4]
[5, 6, 7, 8, 9]

In [3]:
#실습. 리스트의 평균, 분산, 표준편차
import math, random
n = int(input("정수 입력 : "))
lst = []
for i in range(n) :
  lst.append(random.randint(1,100))

print(lst)
mean = sum(lst) / len(lst)  #평균
vsum = 0
for val in lst :
  vsum += (val - mean)**2
variance = vsum / len(lst)  #분산

print("평균 : ", mean)
print("분산 : ", variance)
print("표준편차 : ", math.sqrt(variance))

정수 입력 : 10
[52, 4, 5, 98, 83, 53, 30, 75, 3, 67]
평균 :  47.0
분산 :  1098.0
표준편차 :  33.13608305156178

In [7]:
#리스트 내장 함수
#list() 함수
#튜플 객체와 동일한 값을 가지는 리스트 객체 반환
print(list((1,2,3)))
#any() 함수
print(any([1,2,3]))
print(any([False, 0, ""]))
#all() 함수
print(all([1,2,3]))
print(all([True, 1, ""]))

[1, 2, 3]
True
False
True
False

In [9]:
#인덱싱, 슬라이싱
letters = ["A","B","C","D","E","F"]
print("====인덱싱====")
print(letters[0])
print(letters[1])
print(letters[5])
print(letters[-1])
print("====슬라이싱===")
print(letters[0:6])
print(letters[:])
print(letters[:-1])
print(letters[::2])
print(letters[1::2])

====인덱싱====
A
B
F
F
====슬라이싱===
['A', 'B', 'C', 'D', 'E', 'F']
['A', 'B', 'C', 'D', 'E', 'F']
['A', 'B', 'C', 'D', 'E']
['A', 'C', 'E']
['B', 'D', 'F']

In [11]:
#리스트 얕은 복사(참조)
print("===얕은 복사===")
alist = [1,2,3,4,5,]
blist = alist
print(id(alist))
print(id(blist))
alist[0] = 10
print(blist)
#리스트 깊은 복사(복제)
print("===깊은 복사===")
clist = [1,2,3,4,5]
dlist = list(clist)
elist = clist[:]
print(id(clist))
print(id(dlist))
print(id(elist))
alist[0] = 10
print(dlist)
print(elist)

===얕은 복사===
140520844787456
140520844787456
[10, 2, 3, 4, 5]
===깊은 복사===
140520844742480
140520844963024
140520844757664
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [12]:
#리스트의 메소드
lst = [1,2,3,2,3]
print(lst.index(3))
print(lst.count(3))
if 4 in lst :
  print(lst.index(4))
else :
  print("원소 4는 리스트에 없음")

2
2
원소 4는 리스트에 없음

In [13]:
#리스트의 메소드 : 추가, 삽입
lst = [1,3,4]
lst.append(5)
print(lst)
lst.insert(1,2)
print(lst)
lst.extend([6,7,8])
print(lst)

[1, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7, 8]

In [14]:
#리스트의 메소드 : 항목 삭제
lst = [1,2,3,4,3]
lst.remove(3)
print(lst.pop(2))
print(lst)
del lst[2]
print(lst)

4
[1, 2, 3]
[1, 2]

In [15]:
#리스트의 정렬
alist = [1,5,3,4,2]
alist.sort(reverse = False)
print(alist)
blist = sorted(alist, reverse=True)
print("alist = ", alist)
print("blist = ", blist)

[1, 2, 3, 4, 5]
alist =  [1, 2, 3, 4, 5]
blist =  [5, 4, 3, 2, 1]

In [17]:
#리스트 함축
lst = [x for x in range(10)]
print(lst)
lst = [x*x for x in range(10)]
print(lst)
lst = [x for x in range(10) if x%2 == 0] 
print(lst)
lst = [x**2 for x in range(10) if x%2==0]
print(lst)
print("=============")
rst = [x.upper() for x in "hello"]
print(rst)
words = ["welcom", "to", "the", "python", "word"]
rst = [w[0].upper() for w in words]
print(rst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 2, 4, 6, 8]
[0, 4, 16, 36, 64]
=============
['H', 'E', 'L', 'L', 'O']
['W', 'T', 'T', 'P', 'W']

In [18]:
#조건이 붙는 리스트 함축
lst = ["Hello", "123", "World", "456"]
numbers = [x for x in lst if x.isdigit()]
print(numbers)

['123', '456']

In [19]:
lst = [int(x) for x in input("정수 입력 : ").split() if x.isdigit()]
print(lst)

정수 입력 : 1 둘 3 4 오
[1, 3, 4]

In [20]:
lst = [(x,y) for x in [1,2,3] for y in [4,5,6] if x != y]
print(lst)

[(1, 4), (1, 5), (1, 6), (2, 4), (2, 5), (2, 6), (3, 4), (3, 5), (3, 6)]

In [21]:
#딕셔너리의 메소드
dict = {"book" : "책", "note" : "노트", "pen" : "연필"}
print(dict.keys())
print(dict.values())
print(dict.items())
for k, v in dict.items() : 
  print(k, ":", v)

dict_keys(['book', 'note', 'pen'])
dict_values(['책', '노트', '연필'])
dict_items([('book', '책'), ('note', '노트'), ('pen', '연필')])
book : 책
note : 노트
pen : 연필

In [23]:
#람다 함수와 튜플
t = (10,20,30)
print((lambda x : x[0])(t))
print((lambda x : x[1])(t))
print()

dict = {"book" : "책", "note" : "노트", "pen" : "연필"}

sdict = sorted(dict.items(), key = lambda x : x[1])
print(sdict)

sdict = sorted(dict.items(), key = lambda x : x[0])
print(sdict)

10
20

[('note', '노트'), ('pen', '연필'), ('book', '책')]
[('book', '책'), ('note', '노트'), ('pen', '연필')]

In [24]:
#map() 함수
def square(n) :
  return n*n
  
lst = [1,2,3,4,5]
print(list(map(square, lst)))
print(list(map(lambda n: n**2, lst)))

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

In [26]:
from typing_extensions import DefaultDict
print("사전 프로그램 시작... 종료는 q 를 입력")
dict = {}

while True : 
  st = input("$ ")
  command = st[0]
  if command == "<":
    st = st[1:]
    inputStr = st.split(":")
    if len(inputStr) < 2 :
        print("입력 오류")
    else :
      dict[inputStr[0].strip()] = inputStr[1].strip()
  elif command == ">" :
    st = st[1:]
    inputStr = st.strip()
    if inputStr in dict :
      print(dict[inputStr])
    else :
      print("{}는 사전에 없음".format(inputStr))
  elif command == "q" :
    break
  else :
    print("입력오류")

print("사전 프로그램 종료")

사전 프로그램 시작... 종료는 q 를 입력
$ < one:하나
$ < two:둘
$ < three:셋
$ > one
하나
$ > q
q는 사전에 없음
$ q
사전 프로그램 종료