<a href="https://colab.research.google.com/github/sgtlee99/PythonTEST/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_3%EC%9D%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#실습. 숫자 맞추기 게임
import random

tries = 0
guess = 0
answer = random.randint(1, 100)
print("1부터 100 사이의 숫자를 맞추시오")

while guess != answer :
  guess = int(input("숫자 입력 : "))
  tries = tries + 1
  if guess < answer :
    print("up")
  elif guess > answer :
    print("down")

print("★good★")
print("총 시도 횟수 = ", tries)

1부터 100 사이의 숫자를 맞추시오
숫자 입력 : 50
up
숫자 입력 : 75
up
숫자 입력 : 85
up
숫자 입력 : 95
down
숫자 입력 : 90
down
숫자 입력 : 88
down
숫자 입력 : 86
★good★
총 시도 횟수 =  7

In [3]:
#실습. 최대 공약수(유클리드 호제법)
x, y = map(int, input("두  정수 입력 : ").split())
a, b = x, y

while y != 0 :
  r = x % y
  x = y
  y = r

print("%d와 %d의 최대 공약수 = %d " %(a,b,x))
print("%d와 %d의 최소 공배수 = %d " %(a,b,a*b/x))

두  정수 입력 : 36 24
36와 24의 최대 공약수 = 12
36와 24의 최소 공배수 = 72

In [4]:
#실습. 구구단 출력
for i in range(2, 10) : 
  for j in range(1, 10) :
    print("%d * %d = %2d  " % (i,j,i*j), end=' ')
  print()

2 * 1 =  2   2 * 2 =  4   2 * 3 =  6   2 * 4 =  8   2 * 5 = 10   2 * 6 = 12   2 * 7 = 14   2 * 8 = 16   2 * 9 = 18
3 * 1 =  3   3 * 2 =  6   3 * 3 =  9   3 * 4 = 12   3 * 5 = 15   3 * 6 = 18   3 * 7 = 21   3 * 8 = 24   3 * 9 = 27
4 * 1 =  4   4 * 2 =  8   4 * 3 = 12   4 * 4 = 16   4 * 5 = 20   4 * 6 = 24   4 * 7 = 28   4 * 8 = 32   4 * 9 = 36
5 * 1 =  5   5 * 2 = 10   5 * 3 = 15   5 * 4 = 20   5 * 5 = 25   5 * 6 = 30   5 * 7 = 35   5 * 8 = 40   5 * 9 = 45
6 * 1 =  6   6 * 2 = 12   6 * 3 = 18   6 * 4 = 24   6 * 5 = 30   6 * 6 = 36   6 * 7 = 42   6 * 8 = 48   6 * 9 = 54
7 * 1 =  7   7 * 2 = 14   7 * 3 = 21   7 * 4 = 28   7 * 5 = 35   7 * 6 = 42   7 * 7 = 49   7 * 8 = 56   7 * 9 = 63
8 * 1 =  8   8 * 2 = 16   8 * 3 = 24   8 * 4 = 32   8 * 5 = 40   8 * 6 = 48   8 * 7 = 56   8 * 8 = 64   8 * 9 = 72
9 * 1 =  9   9 * 2 = 18   9 * 3 = 27   9 * 4 = 36   9 * 5 = 45   9 * 6 = 54   9 * 7 = 63   9 * 8 = 72   9 * 9 = 81

In [9]:
#추가실습 : 각 단이 세로로 출력되도록 변경
for i in range(2, 10) : 
  for j in range(1, 10) :
    print("%d * %d = %2d  " % (j,i,i*j), end=' ')
  print()

1 * 2 =  2   2 * 2 =  4   3 * 2 =  6   4 * 2 =  8   5 * 2 = 10   6 * 2 = 12   7 * 2 = 14   8 * 2 = 16   9 * 2 = 18
1 * 3 =  3   2 * 3 =  6   3 * 3 =  9   4 * 3 = 12   5 * 3 = 15   6 * 3 = 18   7 * 3 = 21   8 * 3 = 24   9 * 3 = 27
1 * 4 =  4   2 * 4 =  8   3 * 4 = 12   4 * 4 = 16   5 * 4 = 20   6 * 4 = 24   7 * 4 = 28   8 * 4 = 32   9 * 4 = 36
1 * 5 =  5   2 * 5 = 10   3 * 5 = 15   4 * 5 = 20   5 * 5 = 25   6 * 5 = 30   7 * 5 = 35   8 * 5 = 40   9 * 5 = 45
1 * 6 =  6   2 * 6 = 12   3 * 6 = 18   4 * 6 = 24   5 * 6 = 30   6 * 6 = 36   7 * 6 = 42   8 * 6 = 48   9 * 6 = 54
1 * 7 =  7   2 * 7 = 14   3 * 7 = 21   4 * 7 = 28   5 * 7 = 35   6 * 7 = 42   7 * 7 = 49   8 * 7 = 56   9 * 7 = 63
1 * 8 =  8   2 * 8 = 16   3 * 8 = 24   4 * 8 = 32   5 * 8 = 40   6 * 8 = 48   7 * 8 = 56   8 * 8 = 64   9 * 8 = 72
1 * 9 =  9   2 * 9 = 18   3 * 9 = 27   4 * 9 = 36   5 * 9 = 45   6 * 9 = 54   7 * 9 = 63   8 * 9 = 72   9 * 9 = 81

In [5]:
#실습. 2차원 좌표 출력
x = int(input("x 좌표 크기 입력 : "))
y = int(input("y 좌표 크기 입력 : "))
for i in range(1,x+1) : 
  for j in range(1, y+1):
    print("(%2d, %2d) " %(i,j), end =' ')
  print()

x 좌표 크기 입력 : 5
y 좌표 크기 입력 : 10
( 1,  1)  ( 1,  2)  ( 1,  3)  ( 1,  4)  ( 1,  5)  ( 1,  6)  ( 1,  7)  ( 1,  8)  ( 1,  9)  ( 1, 10)
( 2,  1)  ( 2,  2)  ( 2,  3)  ( 2,  4)  ( 2,  5)  ( 2,  6)  ( 2,  7)  ( 2,  8)  ( 2,  9)  ( 2, 10)
( 3,  1)  ( 3,  2)  ( 3,  3)  ( 3,  4)  ( 3,  5)  ( 3,  6)  ( 3,  7)  ( 3,  8)  ( 3,  9)  ( 3, 10)
( 4,  1)  ( 4,  2)  ( 4,  3)  ( 4,  4)  ( 4,  5)  ( 4,  6)  ( 4,  7)  ( 4,  8)  ( 4,  9)  ( 4, 10)
( 5,  1)  ( 5,  2)  ( 5,  3)  ( 5,  4)  ( 5,  5)  ( 5,  6)  ( 5,  7)  ( 5,  8)  ( 5,  9)  ( 5, 10)

In [8]:
#추가실습 : break문 -> 반복문을 벗어날 때 이용
st = "Hello Pyhon"
for ch in st :
  if ch in ['a','e','i','o','u','A','E','I','O','U']:
    continue
  print(ch, end='')

Hll Pyhn

In [11]:
#실습. 소수출력
def isPrime(n):
  if n == 1 : return False 
  for i in range(2,n):
    if n%i == 0: return False 
  return True

cnt = 0
for i in range(1,1000):
  if isPrime(i) == True:
    print("%3d  " % i, end=" ")
    cnt = cnt+1
    if cnt%10 == 0 : print()

  2     3     5     7    11    13    17    19    23    29
 31    37    41    43    47    53    59    61    67    71
 73    79    83    89    97   101   103   107   109   113
127   131   137   139   149   151   157   163   167   173
179   181   191   193   197   199   211   223   227   229
233   239   241   251   257   263   269   271   277   281
283   293   307   311   313   317   331   337   347   349
353   359   367   373   379   383   389   397   401   409
419   421   431   433   439   443   449   457   461   463
467   479   487   491   499   503   509   521   523   541
547   557   563   569   571   577   587   593   599   601
607   613   617   619   631   641   643   647   653   659
661   673   677   683   691   701   709   719   727   733
739   743   751   757   761   769   773   787   797   809
811   821   823   827   829   839   853   857   859   863
877   881   883   887   907   911   919   929   937   941
947   953   967   971   977   983   991   997

In [12]:
#실습. 오일러 수 계산
def fact(n) :
  if (n<=1) : return 1
  return fact(n-1) * n

e = 0
for i in range(30):
  e += 1/fact(i)
print("오일러수 e = ", e)

오일러수 e =  2.7182818284590455

In [13]:
#실습. 여러인자, 여러 반환값
def calc(n1, n2) : 
  return n1+n2, n1-n2, n1*n2, n1/n2

n1, n2 = 20,10
t1,t2,t3,t4 = calc(n1,n2)
print(n1, '+', n2, '=', t1)
print(n1, '-', n2, '=', t2)
print(n1, '*', n2, '=', t3)
print(n1, '/', n2, '=', t4)

20 + 10 = 30
20 - 10 = 10
20 * 10 = 200
20 / 10 = 2.0

In [14]:
#실습. 주급 계산
def weeklyPay(rate, hour) :
  if (hour > 30) :
    money = rate*30 + 1.5*rate*(hour-30)
  else :
    money = rate * hour
  return money

r = int(input("시급 입력 : "))
h = int(input("근무 시간 입력 : "))
print("주급은 " + str(weeklyPay(rate = r, hour = h)))

시급 입력 : 10000
근무 시간 입력 : 40
주급은 450000.0

In [16]:
#실습. 피보나치 수열
def fib(i) :
  if i == 1:
    return 0
  elif i == 2:
    return 1
  else:
    return fib(i-1) + fib(i-2)

n = int(input("정수 n 입력 : "))
print("%d번째 피보나치 수열 = %d " %(n,fib(n)))

정수 n 입력 : 30
30번째 피보나치 수열 = 514229

In [17]:
#실습. 역수 수열의 합
def rsum(n):
  if n==1:
    return 1
  return rsum(n-1) + 1/n%i

n = int(input("정수 입력 : "))
print("1에서 %d사이의 역수 수열의 합 = %.1f" %(n,rsum(n)))

정수 입력 : 100
1에서 100사이의 역수 수열의 합 = 5.2